@keyframes slide-right {
	0% {
		transform: translateX(-200px);
	}
	100% {
		transform: translateX(0px);
	}
}

.slide-right {
	animation: slide-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.scale-up-350ms {
	transition: all ease 350ms;
}
.scale-up-350ms:hover {
	transform: scale(1.1);
	transition: all ease 350ms;
}

.hidden {
  opacity: 0;
  transition: all 2s;
}

.show {
  opacity: 1;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in {
	animation: fade-in 1.5s;
}

@keyframes fade-out {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	animation: fade-out 1.5s;
}