.block {
	display: block
}

.none {
	display: none
}

.flex {
	display: flex;
}

.jcc {
	justify-content: center;
}

.jcb {
	justify-content: space-between;
}

.aic {
	align-items: center;
}

.flex-jcc {
	/* justify content center */
	display: flex;
	justify-content: center;
}

.flex-jcb {
	/* justify content between */
	display: flex;
	justify-content: space-between;
}


.flex-aic {
	/* align items center */
	display: flex;
	align-items: center;
}

.flex-jcc-aic {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-jcb-aic {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-column-jcc {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-column-aic {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-column-jcc-aic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gap-6 {
	gap: 4rem;
}

.gap-7 {
	gap: 5rem;
}

.gap-8 {
	gap: 6rem;
}

.gap-9 {
	gap: 8rem;
}
.gap-10 {
	gap: 10rem;
}